{% extends "blog/base.html" %}
{% block content %}



<header class="masthead banner">
    <div class="overlay"></div>
    <!-- Navigation Bar -->
    <div class="container navibar">

        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    Blogosphere
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a href="//github.io/jo_geek" target="_blank">IT</a>
                <a href="http://stackoverflow.com/users/4084003/" target="_blank">HealthCare</a>
                <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Finance</a>
                <a href="https://codepen.io/jo_Geek/" target="_blank">Gadgets</a>
                <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">Social Media</a>
            </div>
        </div>

    </div>
</header>
<!-- Navigation Bar -->

Hey
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.date_posted}} </p> </p>
                    <p class="card-text">{{post.content|slice:":200"}}</p>
                    <a href="/post_detail/{{post.id}}" class="btn btn-primary">Read More &rarr;</a>
                    
                </div>
            </div>
            {% endfor %}
</div>
</div>
</div>

{%endblock%}